.main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
    padding-top: 1.5vw;
    padding-bottom: 4vw;
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}

.title {
    font-family: 'Bree CYR';
    font-weight: 600;
    font-size: var(--font-size-32);
    line-height: 100%;
    color: black;
}
