.mainContainer {
    width: 100%;
    font-family: 'TildaSans';
    font-weight: 400;
    color: var(--black);
    font-size: var(--font-size-20);
    display: flex;
    flex-direction: column;
    gap: 1.05vw;
}

.header {
    display: flex;
    flex-direction: row;
    align-items:end;
    gap: 0.6vw;

    .title {
        font-weight: 600;
        font-family: 'Bree CYR';
        font-size: var(--font-size-24);
        line-height: 120%;
        color: black;
    }
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
    width: 60%;
}

.textarea {
    font-family: 'TildaSans';
    font-weight: 400;
    color: var(--black);
    padding: 0.4vw;
    min-height: 5vw;
    max-height: 22vw;
    height: max-content;
    border: none;
    border-radius: 0.52vw;
    background: #fff;
    box-shadow: 0.2vw 0.2vw 0.52vw 0 rgba(165, 165, 165, 0.25);
    resize: none; 
    overflow-y: auto;
    font-size: var(--font-size-20);

    &:focus {
        outline: none;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    font-family: 'TildaSans';
    font-size: var(--font-size-20);
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    padding: 0.3vw 1.25vw 0.3vw 0.8vw;
    border-radius: 0.25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.21vw;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--blue-hover);
    }

    &:active {
        background-color: var(--blue-active); 
        transform: translateY(1px); 
    }
}

.icon {
    width: 1.5vw;
    height: 1.5vw;
    min-width: 20px;
    min-height: 20px;
    background-image: url('../../assets/svg/button_share.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -0.03vw;
}