.mainContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.back {
    font-family: 'TildaSans';
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    color: #fff;
    font-size: var(--font-size-20);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent;

    &:hover {
        transform: scale(1.02);
    }
}

.arrow {
    background-image: url('../../../assets/svg/arrow_left_white.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 0.9vw;
    height: 0.9vw;
    min-width: 14px;
    min-height: 14px;
}