.container {
    width: 100%;
    min-height: 35vw;
    height: max-content;
    background-color: var(--pink);
    background-image: url('../../assets/img/porridge.png'),
        url('../../assets/img/salad.png'), url('../../assets/img/coconut.png');
    background-position: 0 100%, 97% 1.875rem, 100% 2%;
    background-size: 
        20vw auto,
        38vw auto,
        7.4vw auto;
    background-repeat: no-repeat;
    display: flex;
    color: #fff;
    font-family: 'TildaSans';
    font-size: var(--font-size-20);
    font-weight: 400;
    line-height: 160%;
    align-items: center;
}

.text {
    display: flex;
    width: 37.3vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.9vw;
    margin-left: 24.5vw;
}

.title {
    font-family: 'Bree CYR';
    font-size: var(--font-size-85);
    font-style: normal;
    font-weight: 400;
    line-height: 138%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1.05vw;
}

.arrow {
    background-image: url('../../assets/svg/arrow_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.25vw;
    height: 1.25vw;
    display: inline-block;
    position: relative;
    top: 0.2vw;
    margin-left: 0.25vw;
}

.copyright {
    font-size: var(--font-size-16);
}
