.header {
    width: 100%;
    display: flex;
    padding: 1.04vw 4.58vw 0.78vw 5.42vw;
    background-color: var(--crimson);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-family: 'TildaSans';
    font-weight: 500;
    color: #fff;
    font-size: var(--font-size-20);
}

.logo {
    width: 6.3vw;
    min-width: 80px;
    height: auto;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;

    .a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }
}

.button {
    cursor: pointer;
    color: #fff;
    font-family: 'Bree CYR';
    font-weight: 600;
    font-size: var(--font-size-20);
    padding: clamp(4.6px, 0.42vw, 8px) clamp(24px, 2.2vw, 42px);
    background-color: var(--blue);
    border: none;
    border-radius: 1.25rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--blue-hover);
    }

    &:active {
        background-color: var(--blue-active);
        transform: translateY(1px);
    }
}
